@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme{
  --breakpoint-xs: 30rem;

  --color-theme-2:#a4cab6;
  --color-theme-4:#1ba784;
  --color-theme-6:#248067;
  --color-theme-8:#1f2623;
  --color-gray-1:#f6f6f6;
  --color-gray-3:#e6e6e6;
  --color-gray-5:#404040;
  --color-gray-7:#2b2b2b;
  --color-gray-9:#1d1f20;
}

body {
  font-family: "Noto Serif SC", serif;
}
h1,
h2 {
  font-family: "Playfair Display", serif;
}