---
import BlogPost from "../../components/BlogPost.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

import { getAllArticales } from "../../scripts/articale";

export async function getStaticPaths() {

    const [allPosts ,uniqueCategories,_] = await getAllArticales();

    return uniqueCategories.map((categorie) => {
        const filteredPosts = allPosts.filter((post: any) =>
            post.collection==categorie,
        );
        return {
            params: { categorie },
            props: { posts: filteredPosts },
        };
    });
}

const { categorie } = Astro.params;
const { posts } = Astro.props;

---

<BaseLayout pageTitle={categorie}>
    <p class="">分类「{categorie}」</p>
    <ul>
        {
            posts.map((post: any) => (
                <BlogPost post={post} />
            ))
        }
    </ul>
</BaseLayout>