---
import { getAllArticales } from "../scripts/articale";

const [_, uniqueCategories, __] = await getAllArticales();
---

<div class="flex overflow-x-auto px-4 w-full">
    {
        uniqueCategories.map((categorie) => (
            <a href={`/categories/${categorie}`} class=" mr-2.5 font-medium">
                <p
                    class="categorie border-2 rounded-full py-1 px-3 whitespace-nowrap
                         text-gray-500 hover:text-gray-700 dark:text-gray-400 dark:hover:text-gray-300 transition-colors duration-200"
                >
                    {categorie}
                </p>
            </a>
        ))
    }
</div>
