---
import { babelList } from "../scripts/globalVar";
---

<div class="items-center gap-6 hidden md:flex">
  {
    Object.entries(babelList).map(([name, link]) => {
      return (
        <a href={link} class="hover:text-theme-6 ">
          {name}
        </a>
      );
    })
  }
</div>
